/*--------------Game 2: Tic Tac Toe--------------*/
/* Tamika & Hakeem */
html.tic-tac-toe{
  height: 100%;
  font-family: pixelated;
}

body.tic-tac-toe{
  background-image: url("images/tic_tac_toe/test.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#goldO, #blueX {

}

#player-tally{
  display: inline-block;
  width: 10%;
  vertical-align: top;
  text-align: center;
  /* margin-left: 64px;  */
  font-size: 200%;
  color: #fefab1;
  font-weight: bold;
}

#player-name{
  margin-bottom: -40px;
}

#ttt-board{
  display: inline-block;
  width: 70%;
  text-align: center;
  margin-bottom: 0px;
  font-size: 200%;
}

#robot-tally{
  display: inline-block;
  width: 10%;
  vertical-align: top;
  text-align: center;
  font-size: 200%;
  color: #fefab1;
  font-weight: bold;
}

#robot-name{
  margin-bottom: -40px;
}

#whosturn{
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  color: white;
}

#robot-dialogue{
  border: 2px solid white !important;
  text-align: center;
  /* margin: auto; */


  /* width: 600px; */
  /* width: 60%; */
  font-size: 200%;
  background-color: #f4a2b4;
  color: #aa6dad;
}

.quad {
  /* height:100px ;
  width: 100px; */
  border: 1px solid white ;
  margin-bottom: 0.1px !important;
  padding: 30px !important;
  background-color: #aa6dad;
}

/* dealing with the screen cover and it's elements */ 
.screenCover {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

#ttt-start-screen{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ttt-instructions {
  background:#aa6dad;
  border: 2px solid white;
  padding-left: 1.5em;
}

#ttt-instructions p {
  font-size: 24px
}

.start {
  margin-top: 10px;
  width: 150px;
  background-color: #aa6dad !important;
  font-family: pixelated;
}

.back-button {
  text-align: center;
}

.congratulation-screen {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.congratulation-screen .inside {
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1.5em;
}

#pink-return-arrow{
  height: 100px;
  width: 150px;
  /* margin-top: 75vh; */
}

@font-face{
  font-family: pixelated;
  src: url("fonts/slkscre.ttf");
}